.env

contas.txt
contas23.txt
cookies.txt

pipeline_alt.py
renomeia.py
renomeia2.py

test.py
teste_dois_ids.py
teste_retweet_comentario.py
teste_inirPasta.py

twitter_scraperV1.py
add_profile_ids.py
enviar_pastas.py

accounts.db
profiles.json

#PYTHON
__pycache__/
*.py[cod]
